.container
  - url = @content.persisted? ? specific_content_path(@content) : contents_path
  = simple_form_for(@content, as: :content, url: url) do |f|
    = f.hidden_field :type, value: @content.type
    = f.input :title, wrapper_html: { class: 'input-field validate' }
    = f.input :short, wrapper_html: { class: 'input-field' }
    = f.input :body, as: :text, wrapper_html: { class: 'input-field' }
    = f.input :category, wrapper_html: { class: 'input-field' }
    = f.input :locale, wrapper_html: { class: 'input-field' }
    - @content.class.content_attributes.each do |attr_name, attr_type|
      - case attr_name
      - when :spec
        = f.input attr_name, wrapper_html: { class: 'chips-spec' }
        = f.hidden_field attr_name, as: attr_type
      - when :usage
        = f.input attr_name, wrapper_html: { class: 'chips-usage' }
        = f.hidden_field attr_name, as: attr_type
      - else
        = f.input attr_name, as: attr_type
    = f.input :featured, wrapper_html: { class: 'switch' }
    = f.button :submit