.container
  - url = @content.persisted? ? specific_content_path(@content) : contents_path
  = simple_form_for(@content, as: :content, url: url) do |f|
    = f.hidden_field :type, value: @content.type
    = f.input :title
    = f.input :short
    = f.input :body, as: :text
    - id = @content.category.id if @content.category
    = f.association :category, collection: Category.where(content: params['content_type']), :label_method => :en, prompt: "Choose a Category", selected: id
    = f.input :locale, collection: %i[en vi both], prompt: "Choose a Locale"
    - @content.class.content_attributes.each do |attr_name, attr_type|
      - case attr_name
      - when :spec
        Spec
        = f.input attr_name, wrapper_html: { class: 'chips-spec' }
        = f.hidden_field attr_name, as: attr_type, id: 'hidden_spec'
      - when :usage
        Usage
        = f.input attr_name, wrapper_html: { class: 'chips-usage' }
        = f.hidden_field attr_name, as: attr_type, id: 'hidden_usage'
      - else
        = f.input attr_name, as: attr_type
    = f.input :featured, wrapper_html: { class: 'switch' }
    = f.button :submit
