<div class="card green lighten-5"><div class="card-content green-text"><%= notice %></div></div>

<div class="container">
<% if @contents.size != 0 %>
  <ul class="collection">
    <% @contents.each do |content|%>
        <li class="collection-item">
        <div> <%= content.title %>
        <div class="secondary-content">
          <%= link_to 'show', specific_content_path(content), class: 'btn' %>
          <%= link_to 'edit', edit_specific_content_path(content), class: 'btn' %>
          <%= link_to 'delete', specific_content_path(content), class: 'btn', method: :delete, data: { confirm: 'Are you sure?'} %>
        </div>
        </div>
        </li>
    <% end %>
  </ul>
<% end %>


  <a class = "btn" href="<%= new_specific_content_path %>">Add Product</i></a>

<% if @contents.size != 0 %>
  <% if @contents.first.type.to_s.tableize == 'products' %>

    <%= form_tag update_price_path do %>
      <% if @contents.last.prices.first %>
        <h5>Lastest update date : <%= @contents.last.prices.order(updated_date: :desc).first.updated_date %></h5>
      <% end%>
      <% @contents.each do |product| %>
        <div class="input-field inline">
            <input name="<%= "prices[#{product.id}]" %>" type="text" value=<%= product.latest_price %>>
            <label for="<%= product.id %>"><%=product.title%></label>
        </div>
      <% end %>
        <div class="input-field">
          <input name="exrate" type="text">
          <label for="exrate">USD - VND Rate</label>
      </div>
      <div><%= submit_tag 'Save', class: 'btn' %></div>
    <% end %>
  <% end %>
<% end %>

</div>