#content-header
  = render 'shared/header'

%style{media: "screen"}
  \.header { background-image: url(#{@content.main_image}); background-size: cover; background-position: center center}
  \.header .header-title h1 { background-color: rgba(0,0,0,0.1);}

#content.container
  .card-panel
    - if @content.type == "Product"
      - if I18n.locale == :en
        %blockquote= "Today price : " + number_to_currency(@content.latest_price*1000/@ex[:latest], precision: 0, unit: "USD/tons", format: "%n %u")
      - else
        %blockquote= "Giá Gạo hôm nay : " + number_to_currency(@content.latest_price, precision: 0, unit: "đ/ký", format: "%n %u")
    - if @content.respond_to?(:spec)
      %blockquote= t('website.filterbar.spec') + " : " + @content.spec.downcase.gsub(/\A,/,"").gsub(/,/," , ")
    -# - if @content.respond_to?(:usage)
    -#   %blockquote= t('website.filterbar.usage') + " : " + @content.usage.downcase.gsub(/\A,/,"").gsub(/,/," , ")
    = @content.body.html_safe
    %p.center-align
      %a.waves-effect.pulse.waves-light.btn{:href => "#contact-modal"}= t('website.buynow')
= render 'shared/contact_modal'

#content-footer
  = render 'shared/footer'
