#content-header
  = render 'shared/header'

%style{media: "screen"}
  \.header { background-image: url(#{@content.main_image}); background-size: cover;}
  \.header .header-title h1 { background-color: rgba(0,0,0,0.1);}

#content.container
  .card-panel
    %blockquote= t('website.filterbar.spec') + " : " + @content.spec.downcase.gsub(/\A,/,"").gsub(/,/," , ")
    %blockquote= t('website.filterbar.usage') + " : " + @content.usage.downcase.gsub(/\A,/,"").gsub(/,/," , ")
    = @content.body.html_safe
#content-footer
  = render 'shared/footer'