/ Modal Structure
/%a.waves-effect.waves-light.btn{:href => "#contact-modal"} Contact Me Now
#contact-modal.modal
  .modal-content
    %p= t('website.contacts.title')
    %p= t('website.contacts.subtitle')
    =render 'shared/contact'
  .modal-footer
    .center-align
      %p= link_to(t('website.contacts.homepage'), root_path, target: "_blank")
      %p= "#{t('website.homepage.footer.copy_right')}"
