- if @products.size != 0
  .ldashboard
    %h3.center-align= "#{Date.current} #{t(:title, scope: [:website, :homepage, :price])}"
    %h5.center-align= "#{t(:subtitle, scope: [:website, :homepage, :price])}"
    .lcards
      - @products.each do |product|
        %a.lcard{href: content_path(product, content_type: product.type.tableize())}
          .ltop
            - if I18n.locale == :en
              .lprice.right-align= number_to_currency(product.latest_price*1000/@ex[:latest], precision: 0, unit: "USD/tons", format: "%n %u")
              - diff = (product.latest_price*1000/@ex[:latest] - product.l7d_price.to_i*1000/@ex[:l7d])
              - if diff > 0
                .valign-wrapper
                  %i.material-icons.green-text.text-darken-2 trending_up
                  = number_to_currency(diff.abs, precision: 0, unit: "USD/tons", format: "%n %u")
              - else
                .valign-wrapper
                  %i.material-icons.red-text.text-darken-2 trending_down
                  = number_to_currency(diff.abs, precision: 0, unit: "USD/tons", format: "%n %u")
            - else
              .lprice.right-align= number_to_currency(product.latest_price, precision: 0, unit: "đ/ký", format: "%n %u")
              - diff = product.latest_price - product.l7d_price.to_i
              - if diff > 0
                .valign-wrapper
                  %i.material-icons.green-text.text-darken-2 trending_up
                  = number_to_currency(diff.abs, precision: 0, unit: "đ/ký", format: "%n %u")
              - else
                .valign-wrapper
                  %i.material-icons.red-text.text-darken-2 trending_down
                  = number_to_currency(diff.abs, precision: 0, unit: "đ/ký", format: "%n %u")
          .lbot.valign-wrapper= product.title
