<div class='filter-bar'>
    <div class='container'>
        <div class='row'>
            <ul class='tabs'>
                <% @cats.each do |cat| %>
                    <li class='tab'><a href='#<%= cat.parameterize %>'><%= cat.parameterize %></a></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<div class='container contents'>
    <% @cats.each do |cat| %>
        <div id='<%= cat.parameterize %>' class='col s12'>
            <div class='row'>
                <% @contents.each do |content| %>
                    <% if content.category.parameterize == cat.parameterize %>
                        <%# Content card start%>
                            <div class='col l4 m6 s12'>
                            <div class="card medium hoverable">
                                <div class="card-image">
                                    <a href='<%= content_path(content.type, content.friendly_id) %>'><img src="<%= content.main_image %>"></a>
                                </div>
                                <div class="card-content">
                                <span class="card-title"><%= content.title %></span>
                                <p><%= content.short %><
                                </div>
                                <div class="card-action">
                                <a href="<%= content_path(content.type, content.friendly_id) %>">Read More ...</a>
                                </div>
                            </div>
                            </div>
                        <%# Content card end%>
                    <% end %>
                <% end %>
            </div>
        </div>

    <% end %>

</div>