.filter-bar
    .container
        .row
            %ul.tabs
                - @cats.each do |cat|
                    %li.tab
                        = link_to(cat.locale, "##{cat.locale.parameterize}")
.container.contents
    - @cats.each do |cat|
        .col.s12{id: "#{cat.locale.parameterize}"}
            .row
                - @contents.each do |content|
                    - if content.category.id == cat.id
                        .col.l4.m6.s12
                            .card.medium.hoverable
                                .card-image
                                    = link_to(content_path(content.type.tableize(), content.friendly_id))  do
                                        = image_tag content.main_image
                                .card-content
                                    %span.card-title= content.title
                                    - if content.spec && content.spec != ''
                                        %p= t('website.filterbar.spec') + " : " + content.spec.downcase.gsub(/\A,/,"").gsub(/,/," , ")
                                    - if content.usage && content.usage != ''
                                        %p= t('website.filterbar.usage') + " : " + content.usage.downcase.gsub(/\A,/,"").gsub(/,/," , ")
                                    %p= content.short.html_safe
                                .card-action
                                    = link_to(t(:readmore, scope: [:website,:filterbar]), content_path(content.type.tableize(), content.friendly_id))