.filter-bar
    .container
        .row
            %ul.tabs
                - @cats.each do |cat|
                    %li.tab
                        = link_to(cat.locale, "##{cat.locale.parameterize}")
.container.contents
    - @cats.each do |cat|
        .col.s12{id: "#{cat.locale.parameterize}"}
            .row
                - @contents.each do |content|
                    - if content.category.id == cat.id
                        .col.l4.m6.s12
                            .card.large.hoverable
                                .card-image
                                    = link_to(content_path(content.type.tableize(), content.friendly_id))  do
                                        = image_tag content.main_image
                                .card-content
                                    %span.card-title= content.title
                                    - if content.type == "Product"
                                        - if I18n.locale == :en
                                            %blockquote= number_to_currency(content.latest_price*1000/@ex[:latest], precision: 0, unit: "USD/tons", format: "%n %u")
                                        - else
                                            %blockquote= number_to_currency(content.latest_price, precision: 0, unit: "đ/ký", format: "%n %u")
                                    - if content.respond_to?(:spec)
                                        %p= t('website.filterbar.spec') + " : " + content.spec.downcase.gsub(/\A,/,"").gsub(/,/," , ")
                                    - if content.respond_to?(:usage)
                                        %p= t('website.filterbar.usage') + " : " + content.usage.downcase.gsub(/\A,/,"").gsub(/,/," , ")
                                    %p= content.short.html_safe
                                .card-action
                                    = link_to(t(:readmore, scope: [:website,:filterbar]), content_path(content.type.tableize(), content.friendly_id))
- if @product_richcard
    = render 'shared/product_richcard'
- if @blog_richcard
    = render 'shared/blog_richcard'