.footer
  .row
    .col.l3.m6.s12
      = render 'shared/self'
    - @menubar[:menu].each do |key, items|
      -if items[:sub]
        .col.l3.m6.hide-on-small-only
          %h5.white-text= items[:title]
          %ul
            - items[:sub].each do |item|
              %li
                = link_to(item, "/#{key}##{item.parameterize}", class: 'white-text strong')
  .footer-copyright
    .container.center-align
      %b.white-text= "#{t('website.homepage.footer.copy_right')}"
