- if @features.size
  .slider
    %ul.slides
      - @features.each do |feature|
        %li
          = link_to content_path(feature, content_type: feature.type.tableize) do
            = image_tag feature.main_image
            .caption.left-align
              .btn-large.primary-background.hide-on-med-and-down= feature.title
              .btn.primary-background.hide-on-large-only= feature.title
              - feature.respond_to?(:spec) ? (spec = feature.spec) : (spec = '')
              - feature.respond_to?(:usage) ? (usage = feature.usage) : (usage = '')
              - (spec + usage).split(',').each do |attr|
                - if attr != ''
                  .btn-large.secondary-background.hide-on-med-and-down= attr
                  .btn.secondary-background.hide-on-large-only= attr