/
  Note :
  \- You can modify the font style and form style to suit your website.
  \- Code lines with comments “Do not remove this code”  are required for the form to work properly, make sure that you do not remove these lines of code.
  \- The Mandatory check script can modified as to suit your business needs.
  \- It is important that you test the modified form before going live.
.card-panel#crmWebToEntityForm
  %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
  %form{"accept-charset" => "UTF-8", :action => "https://crm.zoho.com/crm/WebToLeadForm", :method => "POST", :name => "WebToLeads2515680000000119217"}
    / Do not remove this code.
    %input{:name => "xnQsjsdp", :style => "display:none;", :type => "text", :value => "4c71a257351133d401ef44f996154dfa537b9b13f1b01563059547a19b0736f8"}/
    %input#zc_gad{:name => "zc_gad", :type => "hidden", :value => ""}/
    %input{:name => "xmIwtLD", :style => "display:none;", :type => "text", :value => "9bca6506e09d8d31d6db2beb94f7c9e3aca5f0c405b02dcfc719caddc9dc4aa9"}/
    %input{:name => "actionType", :style => "display:none;", :type => "text", :value => "TGVhZHM="}/
    %input{:name => "returnURL", :style => "display:none;", :type => "text", :value => "#{request.host}/success"}/
    / Do not remove this code.
    .input-field
      %input.validate{:name => "Company", :type => "text", required: true, oninvalid: set_error(t('website.contacts.zoho.required')), oninput: set_error() }/
      %label{:for => "Company"}= t('website.contacts.zoho.company')
    .input-field
      %input.validate{:name => "Last Name", :type => "text", required: true, oninvalid: set_error(t('website.contacts.zoho.required')), oninput: set_error() }/
      %label{:for => "Last Name"}= t('website.contacts.zoho.name')
    .input-field
      %input{:name => "Email", :type => "text"}/
      %label{:for => "Email"}= t('website.contacts.zoho.email')
    .input-field
      %input{:name => "Mobile", :type => "text"}/
      %label{:for => "Mobile"}= t('website.contacts.zoho.mobile')
    .input-field
      %input{:name => "Skype ID", :type => "text"}/
      %label{:for => "Skype ID"}= t('website.contacts.zoho.skype')
    %input.btn{:type => "submit", :value => "#{t('website.contacts.zoho.submit')}"}/
    %input.btn{:type => "reset", :value => "#{t('website.contacts.zoho.reset')}"}/