<footer class="footer">
      <div class="row">
        <div class="col l3 m6 s12">
              <h5 class="white-text"><%= t('website.homepage.footer.contact_title') %></h5>
              <ul>
                <li><%= t('website.homepage.footer.contact_address') %></li>
                <li><%= t('website.homepage.footer.contact_phone') %></li>
                <li><%= t('website.homepage.footer.contact_email') %></li>
              </ul>
        </div>

        <% @menubar[:menu].each do |key, items| %>
          <% if items[:sub] %>
            <div class="col l3 m6 hide-on-small-only">
              <h5 class="white-text"><%= items[:title] %></h5>
                <ul>
                  <% items[:sub].each do |item| %>
                    <li><a class='white-text strong' href='<%= "#{key}##{item[0].tableize}" %>'><%= item[0] %></a></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
        <% end%>

      </div>
      <div class="footer-copyright">
        <div class="container center-align">
          <b class="white-text">
            <%= t('website.homepage.footer.copy_right') %>
          </b>
        </div>
      </div>
    </footer>
