<div class='header'>
    <div class='container'>
        <!-- Desktop Dropdown Structure for Nav Bar-->
        <% @menubar[:menu].each do |key, value| %>
            <ul id='<%= key %>-dropdown' class='dropdown-content'>
                <% if value[:sub]%>
                    <% value[:sub].each do |item| %>
                        <li><a href='<%= "#{key}##{item[0].tableize}" %>'><%= item[0] %></a></li>
                    <% end %>
                <% end %>
            </ul>
        <% end %>

        <!-- Mobile Dropdown Structure for Nav Bar-->
        <% @menubar[:menu].each do |key, value| %>
            <ul id='<%= key %>-dropdown-mobile' class='dropdown-content'>
                <% if value[:sub]%>
                    <% value[:sub].each do |item| %>
                        <li><a href='<%= "#{key}##{item[0].tableize}" %>'><%= item[0] %></a></li>
                    <% end %>
                <% end %>
            </ul>
        <% end %>

        <!-- Nav Bar -->
        <nav id='menu-bar'>
            <div class='nav-wrapper'>
            <a href='<%= root_path  %>' class='brand-logo'>
            <%= image_tag @menubar[:logo]%></a>

            <!-- Mobile Hamburger -->
            <a href='#' data-activates='mobile' class='button-collapse'><i class='material-icons'>menu</i></a>

            <!-- Desktop Nav Bar -->
            <ul id='nav-mobile' class='right hide-on-med-and-down'>
                <li><form id='nav-search-desktop'>
                    <div class='input-field'>
                        <label class='label-icon' for='searchme'><i class='material-icons'>search</i></label>
                        <input id='searchme' type='search' required>
                    </div>
                </form></li>

                <% @menubar[:menu].each do |key, value| %>
                    <% if value[:sub]%>
                        <li><a class='dropdown-button' href='#!' data-activates='<%= key %>-dropdown'><%= value[:title] %> <i class='material-icons right'>arrow_drop_down</i></a></li>
                    <% else %>
                        <li><a href='<%= value[:url] %>'><%= value[:title] %></a></li>
                    <% end %>
                <% end %>

            </ul>

            <!-- Mobile Nav Bar -->
            <ul class='side-nav' id='mobile'>
                <li><form>
                    <div class='input-field'>
                    <input id='search' type='search' required>
                    <label class='label-icon' for='search'><i class='material-icons black-text'>search</i></label>
                    <i class='material-icons'>close</i>
                    </div>
                </form></li>
                <% @menubar[:menu].each do |key, value| %>
                    <% if value[:sub] %>
                        <li><a class='dropdown-button' href='#!' data-activates='<%= key %>-dropdown-mobile'><%= value[:title] %> <i class='material-icons right'>arrow_drop_down</i></a></li>
                    <% else %>
                        <li><a href='<%= value[:url] %>'><%= value[:title] %></a></li>
                    <% end %>
                <% end %>
            </ul>
            </div>
        </nav>

        <!-- Header content -->
        <div class='header-title'>
            <h1><%= @header_info[:title]%></h1>
            <h4 class='light'><%= @header_info[:subtitle] %></h4>
        </div>
    </div>
</div>

<% if @filter_bar == true %>
    <div id='filter-bar'>
        <%= render 'shared/filter_bar' %>
    </div>
<% end %>