<div id='homepage-header'>
  <%= render 'header' %>
<div>

<div id='features'>
  <%= render 'shared/fullslider' %>
</div>

<div class='container' id='price-quote'>
  <%= render 'shared/dashboard_card' %>
</div>
<p></p>

<div class='container' id='our-clients'>
  <%= render 'shared/carousel' %>
</div>

<div id='homepage-footer'>
  <%= render 'footer' %>
</div>