#homepage-header
  = render 'shared/header'
#features
  = render 'shared/fullslider'
.container#price-quote
  = render 'shared/dashboard_card'
.container#our-clients
  = render 'shared/carousel'
#homepage-footer
  = render 'shared/footer'