<%= render 'header' %>
<%= render 'shared/fullslider' %>
<div class='container price-quote'>
<%= render 'shared/dashboard_card' %>
</div>
<p></p>
<div class='container'>
<%= render 'shared/carousel' %>
</div>
<%= render 'footer' %>