!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{name: 'description', content: "#{@meta_description}"}
    %title= @meta_title? "Loc Van Rice || #{@meta_title}" : "Rails App"
    / Import Google Icon Font & Roboto
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/
    / Let browser know website is optimized for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
    = render 'shared/tawk'
